<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Animal
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="researcher_animal">Animal</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<section id="animalSearch" class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="menu-content pb-70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="row single-post">
						<div class="col-lg-5 col-md-5">
							<h4>Taxonomy Classification</h4>
							<hr>
							<div class="row">
								<div class="col-md-3">
									<ul class="tags">
										<li class="li">Phylum</li>
										<li class="li">Class</li>
										<li class="li">Order</li>
										<li class="li">Family</li>
										<li class="li">Genus</li>
										<li class="li">Species</li>
									</ul>
								</div>
								<div class="col-md-1">
									<ul class="tags">
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
									</ul>
								</div>
								<div class="col-md-6" id="animalTaxon">
									<ul class="tags">
										<li id="phylum" class="li"><%=(locals.phylum?phylum :"")%></li>
										<li class="li"><%=(locals.classs?classs:"")%></li>
										<li class="li"><%=(locals.orderr?orderr:"")%></li>
										<li class="li"><%=(locals.family?family:"")%></li>
										<li class="li"><%=(locals.genus?genus:"")%></li>
										<li class="li"><%=(locals.species?species:"")%></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">
							<div class="feature-img">
								<img width="300" height="200" src="<%=(locals.image?image.replace('public','assets'):"")%>" class="img-fluid animalPic"/>
							</div>
							<a class="posts-title">
								<h3><%=(locals.name?name:"")%></h3>
							</a>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Scientific Name:</p>
								</div>
								<div class="col-md-6" id="scientificName">
									<p class="excert"><em><%=(locals.scientificName?scientificName:"")%></em></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget tag-cloud-widget" id="bacteria">
							<h4 class="tagcloud-title">Bacteria</h4>
							<ul>
							<%
								var bacTags = "";
								if(locals.bacteria){
									bacteria.forEach((element, index) => {
										bacTags += "<li><a href='#'>" + element.bacteriumScientificName + "</a></li>";
									});
								}
							%>
							<%-bacTags%>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="noResults" class="post-content-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="menu-content pb-70"><br><br>
							<h4>
							<b>No results Found &nbsp; <span class="lnr lnr-sad"></span></b></h4>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section class="recent-blog-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-9">
						<div class="title text-center">
							<h1 class="mb-10">Latest from Our Blog</h1>
							<p>With the exception of Nietzsche, no other madman has contributed so much to human sanity as has.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="active-recent-blog-carusel">
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b1.jpg" alt="">
							</div>
							<div class="details">
								<h4 class="title">Dog</h4>
								<h6>Canis Lupus</h6>
								<p>Journal Name</p>
							</div>
						</div>
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b2.jpg" alt="">
							</div>
							<div class="details">
								<div class="tags">
									<ul>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Life Style</a>
										</li>
									</ul>
								</div>
								<a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
								<p>
									Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
								</p>
								<h6 class="date">31st January,2018</h6>
							</div>
						</div>
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b3.jpg" alt="">
							</div>
							<div class="details">
								<div class="tags">
									<ul>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Life Style</a>
										</li>
									</ul>
								</div>
								<a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
								<p>
									Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
								</p>
								<h6 class="date">31st January,2018</h6>
							</div>
						</div>
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b1.jpg" alt="">
							</div>
							<div class="details">
								<div class="tags">
									<ul>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Life Style</a>
										</li>
									</ul>
								</div>
								<a href="#"><h4 class="title">Low Cost Advertising</h4></a>
								<p>
									Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
								</p>
								<h6 class="date">31st January,2018</h6>
							</div>
						</div>
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b2.jpg" alt="">
							</div>
							<div class="details">
								<div class="tags">
									<ul>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Life Style</a>
										</li>
									</ul>
								</div>
								<a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
								<p>
									Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
								</p>
								<h6 class="date">31st January,2018</h6>
							</div>
						</div>
						<div class="single-recent-blog-post item">
							<div class="thumb">
								<img class="img-fluid" src="../../assets/img/b3.jpg" alt="">
							</div>
							<div class="details">
								<div class="tags">
									<ul>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Life Style</a>
										</li>
									</ul>
								</div>
								<a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
								<p>
									Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
								</p>
								<h6 class="date">31st January,2018</h6>
							</div>
						</div>
	
					</div>
				</div>
			</div>
		</section>

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<!-- End footer Area -->
	<script src="../../assets/js/researcher/animalSearch.js"></script>
</body>

</html>