<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Bacteria
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="researcher_bacteria">Bacteria</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<section id="bacteriaSearch" class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="menu-content pb-70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="row single-post">
						<div class="col-lg-5 col-md-5">
							<h4>Taxonomy Classification</h4>
							<hr>
							<div class="row">
								<div class="col-md-3">
									<ul class="tags">
										<li class="li">Phylum</li>
										<li class="li">Class</li>
										<li class="li">Order</li>
										<li class="li">Family</li>
										<li class="li">Genus</li>
										<li class="li">Species</li>
									</ul>
								</div>
								<div class="col-md-1">
									<ul class="tags">
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
									</ul>
								</div>
								<div class="col-md-6" id="animalTaxon">
									<ul class="tags">
										<li id="phylumBacteria" class="li">
											<%=(locals.bacteria?bacteria.phylum:"")%>
										</li>
										<li class="li">
											<%=(locals.bacteria?bacteria.class:"")%>
										</li>
										<li class="li">
											<%=(locals.bacteria?bacteria.orderr:"")%>
										</li>
										<li class="li">
											<%=(locals.bacteria?bacteria.family:"")%>
										</li>
										<li class="li">
											<%=(locals.bacteria?bacteria.genus:"")%>
										</li>
										<li class="li">
											<%=(locals.bacteria?bacteria.species:"")%>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">
							<h2><em><%=(locals.bacteria?bacteria.bacteriumScientificName:"")%></em></h2>
							<a class="posts-title">
							</a><br>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Tissue Specifity:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.bacteria?bacteria.bacteriumTissueSpecifity:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Sample Type:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.bacteria?bacteria.bacteriumSampleType:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Method of Isolation:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.bacteria?bacteria.bacteriumIsolation:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Method of Identification:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.bacteria?bacteria.bacteriumIdentification:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Toxins:</p>
								</div>
								<div class="col-md-6">
									<ul>
										<%
											var toxinTags = "";
											if(locals.toxinNames){
												toxinNames.forEach((element, index) => {
													toxinTags += "<li>" + element + "</a></li>";
												});
											}
										%>
										<%-toxinTags%>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><br>
								&nbsp;&nbsp;&nbsp;&nbsp;Source:
							</div>
							<div class=" offset-md-0 col-md-10"><br>
								<label class="text-primary"><em><%=(locals.journal?journal.name:"")%></em></label><br>
								<label><%=(locals.journal?journal.doi:"")%></label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget tag-cloud-widget" id="bacteria">
							<h4 class="tagcloud-title">Possible Diseases</h4>
							<ul>
								<!-- res.locals.matchResult = matchResult; -->
								<%
									var diseaseTags="";
									if(locals.matchResult){
										matchResult.forEach((element,index)=>{
											
											diseaseTags += "<li><a href='#'>"+ element.diseaseName +"</a></li>";
										});
									}
								%>
								<%-diseaseTags%>
							</ul>
						</div>
					</div><br>
					<div class="widget-wrap">
						<div class="single-sidebar-widget tag-cloud-widget">
							<h4 class="tagcloud-title">Animal Host/s</h4>
							<div class="single-post-list d-flex flex-row align-items-center">
							</div><br>
						</div>
					</div>
				</div>
			</div>
	</section>
	<%
		if(!locals.matchResult){
	%>
	<section id="noResultsBacteria" class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="menu-content pb-70"><br><br>
						<h4>
						<b>No results Found &nbsp; <span class="lnr lnr-sad"></span></b></h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%
		}
	%>
	
	<section style="background-color: #e7e7f9" class="recent-blog-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-9">
					<div class="title text-center">
						<h1 class="mb-10">Bacteria List</h1>
						<p>A very small living thing from animals and called pathogens if it can be transmitted to another animal or to
							humans that can cause disease.</p>
					</div>
				</div>
			</div>
			<div class="displayBacteria"></div>
			<div class="active-recent-blog-carusel"><br>
			</div>
		</div>
	</section>

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<script src="/assets/js/researcher/bacteriaSearch.js"></script>
	<!-- End footer Area -->
</body>

</html>