<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include ../researcher/partials/head %>
</head>

<body>
	<% include ../researcher/partials/header %>
	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Bacteria
					</h1>
					<p class="text-white link-nav"><a href="index">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="researcher_bacteria">Bacteria</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<section id="" class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="menu-content pb-70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="row single-post">
						<div class="col-lg-5 col-md-5">
							<h4>Taxonomy Classification</h4>
							<hr>
							<div class="row">
								<div class="col-md-3">
									<ul class="tags">
										<li class="li">Phylum</li>
										<li class="li">Class</li>
										<li class="li">Order</li>
										<li class="li">Family</li>
										<li class="li">Genus</li>
										<li class="li">Species</li>
									</ul>
								</div>
								<div class="col-md-1">
									<ul class="tags">
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
										<li class="li">:</li>
									</ul>
								</div>
								<div class="col-md-6" id="animalTaxon">
									<ul class="tags">
										<li id="" class="li">
											<%=(locals.stQuery?stQuery.phylum:"")%>
										</li>
										<li class="li">
											<%=(locals.stQuery?stQuery.class:"")%>
										</li>
										<li class="li">
											<%=(locals.stQuery?stQuery.orderr:"")%>
										</li>
										<li class="li">
											<%=(locals.stQuery?stQuery.family:"")%>
										</li>
										<li class="li">
											<%=(locals.stQuery?stQuery.genus:"")%>
										</li>
										<li class="li">
											<%=(locals.stQuery?stQuery.species:"")%>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">
							<h2><em><%=(locals.stQuery?stQuery.bacteriumScientificName:"")%></em></h2>
							<a class="posts-title">
							</a><br>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Tissue Specifity:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.stQuery?stQuery.bacteriumTissueSpecifity:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Sample Type:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.stQuery?stQuery.bacteriumSampleType:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Method of Isolation:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.stQuery?stQuery.bacteriumIsolation:"")%></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="excert"> Method of Identification:</p>
								</div>
								<div class="col-md-6">
									<p class="excert"><%=(locals.stQuery?stQuery.bacteriumIdentification:"")%></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"><br>
								&nbsp;&nbsp;&nbsp;&nbsp;Source:
							</div>
							<div class=" offset-md-0 col-md-10"><br>
								<label class="text-primary"><em><%=(locals.ndQuery?ndQuery.name:"")%></em></label><br>
								<label><%=(locals.ndQuery?ndQuery.doi:"")%></label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget tag-cloud-widget" id="bacteria">
							<h4 class="tagcloud-title">Toxins</h4>
							<ul>
								<%
									var toxinTags="";
									if(locals.thQuery){
										thQuery.forEach((element,index)=>{
											toxinTags += "<li><a href='#'>"+ element.name +"</a></li>";
										});
									}
								%>
								<%-toxinTags%>
							</ul>
						</div>
					</div><br>
					<div class="widget-wrap">
						<div class="single-sidebar-widget tag-cloud-widget">
							<h4 class="tagcloud-title">Animal Host/s</h4>
							<%
								var hostTags = '';
								if(locals.rdQuery){
									rdQuery.forEach((element, index) => {
										hostTags += '<br><div class="single-post-list d-flex flex-row align-items-center">';
										hostTags += '<div class="thumb"><img class="img-size" src="' + element.image.replace(/js\\public/g,'assets') + '" alt="EWWW" height="90px" width="90px"></div>&nbsp;&nbsp;&nbsp;';
										hostTags += '<div class="details"><h6>'+element.animalName+'</h6><p>'+element.animalScientificName+'</p></div>';
										hostTags += '</div>';
									});
								}
							%>
							<%-hostTags%>
						</div>
					</div>
				</div>
			</div>
			<center><a href="researcher_bacteria" class="genric-btn primary pull-right"><span
				class="lnr lnr-arrow-left">&nbsp;&nbsp;Back</span></a></center><br><br><br>
		</div>
	</section>

	<!-- start footer Area -->
	<% include ../researcher/partials/footer %>
	<script src="/assets/js/researcher/bacteriaSearch.js"></script>
	<script src="/assets/js/researcher/animalSearch.js"></script>
	<!-- End footer Area -->
</body>

</html>